div {
    color: red !important;
    /* 1. !important는 다른거 무시하고 우선처리 */
}

/* 2. inline방식 style이 2등 */

#color_yellow {
    color: yellow;
    /* 3. ID Selector가 우선순위 점수 100pt */
}

.color_green {
    color: green;
    /* 4. 클래스 선택자 - 점수 10pt*/
}

div {
    color: blue;
    /* 5. 태그 선택자 - 점수 1pt */
}

* {
    color: darkblue;
    /* 6. 전체 선택자 - 점수 0pt */
}

body {
    color: violet;
    /* 7. 상속 - 점수0pt */
}