a:hover{
    font-weight: bold;
    font-size: 20px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: tomato;
    transition: 0.5s;
}

.box:hover{
    width: 200px;
    height: 100px;
    background-color: lightcoral;

}