.grand-parent {
    width: 400px;
    height: 300px;
    padding: 30px 100px 100px 30px;
    border: 4px dashed lightblue;
}

.parent {
    width: 400px;
    height: 300px;
    border: 4px dashed royalblue;
    /* 없으면 grand-parent의 position을 찾고 */
    /* grand-parent에도 없으면 body-html-window viewport 순서로 간다 */
    /* position: relative; */
}

.child {
    width: 120px;
    height: 80px;
    margin: 10px;
    background: slateblue;
    border: 4px dashed tomato;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute {
    position: absolute;
    top: 50px;
    right: 100px;
}